<div id="header_wrap" class="outer">
    <header class="inner">
        <a id="forkme_banner" href="https://github.com/scassandra/scassandra-server">View on GitHub</a>

        <h1 id="project_title">Scassandra Server Stub</h1>
        <h2 id="project_tagline"></h2>

        <section id="downloads">
            <a class="zip_download_link" href="https://github.com/scassandra/scassandra-server/zipball/master">Download this project as a .zip file</a>
            <a class="tar_download_link" href="https://github.com/scassandra/scassandra-server/tarball/master">Download this project as a tar.gz file</a>
        </section>
    </header>
</div>