<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Stubbed Cassandra</title>

  <!-- Bootstrap -->
  <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap theme -->
  <link href="{{ site.baseurl }}/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/css/another.css" rel="stylesheet">
  <!--<link rel="stylesheet" type="text/css" media="screen" href="css/stylesheet.css">-->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
